<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form method="post" action="/signup">
        <label for="email" id="email">
            <input type="email" name="email" id="email" required />
        <label for="password" id="password">
            <input type="password" name="password" id="password" required />
        </label>
        <label for="cpassword" id="cpassword">
            <input type="password" name="cpassword" id="cpassword" required />
        </label>
        <button type="submit">Submit</button>   
    </form>
</body>
</html>